@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  margin: 10px;
  border: solid 1px rgb(202, 225, 243);
  overflow: hidden;
}

.fill {
  background-image: url("https://source.unsplash.com/random/160x160");
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.hold {
  border: solid 4px slateblue;
}

.hovered {
  background-color: rgb(31, 49, 63);
  border-color: rgb(204, 217, 228);
  border-style: dotted;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
